.login-app {
    div.login-brand {
        text-align: center;
        img {
            width: 300px;
            margin: 0 auto 40px;

            @media (max-width: 600px) {
                width: 260px;
            }
        }
        h2 {
            margin: 0 0 20px 0; 
            font-weight: 400; 
            text-transform: uppercase; 
            font-size: 26px; 
            color: $gray5;
        }
    }

    background-color: #012233;
    background-image: url(../images/bg-login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;

    input {
        border-radius: 10px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid #fff;
        -webkit-text-fill-color:#495057;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    .v-card {
        padding: 20px;
        border-radius: 10px !important;
        font-family: $nunito !important;

        .input {
            font-family: $nunito !important;
        }

        .btn-login {
            width: 100%;
            background-color: #8fb435  !important;
            height: 50px !important;
            color: #fff;
            font-family: $nunito;
            font-size: 20px;
            letter-spacing: initial;
            border-radius: 10px;
        }

        .title {
            text-align: center;
            width: 100%;
            font-family: $nunito;
            font-size: 22px;
            font-weight: 700;
        }
    }

    a.link {
        font-family: $nunito;
        font-size: 16px;
        text-decoration: underline;
        text-align: center;
        display: block;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    p.link {
        font-family: $nunito;
        font-size: 16px;
        text-align: center;
        display: block;

        a {
            font-family: $nunito;
            font-size: 15px;
            text-decoration: underline;
        }
    }
}
